= form_for @event, url: brand_events_path(@brand), method: :post do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"

  .field
    = f.label :timespan
    = f.number_field :timespan, max: 10, min: 1, value: 1 ,class: "form-control"
  %br
  .field
    = f.label :address
    = f.text_field :address, class: "form-control"
  %br
  .field
    = f.label :description
    = f.text_area :description, class: "form-control"
  %br
  .field
    = f.label :title
    = f.text_field :title, class: "form-control"
  %br
  .field
    = f.label :datetime
    = f.datetime_select :datetime
  %br
  .actions
    = f.submit 'Save', class: "btn btn-default"
