%p#notice= notice

%p
  %b Brand:
  = @event.brand_id
%p
  %b Latitude:
  = @event.latitude
%p
  %b Longitude:
  = @event.longitude
%p
  %b Address:
  = @event.address
%p
  %b Description:
  = @event.description
%p
  %b Title:
  = @event.title
%p
  %b Datetime:
  = @event.datetime

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path

- @hoge.each do |h|
  - Instagram.location_recent_media(h.id).each do |media|
    = link_to media.link, :target => "_blank" do
      =image_tag(media.images.low_resolution.url)
