/ パンくずリスト
.container2
  %ul.breadcrumb
    %li
      %a{:href => "firstview.html"} トップ
    %li.active ブランド一覧
/ タブバー
.container3
  %ul.nav.nav-tabs{:style => "margin-bottom:15px"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#2015AW"} 2015AW
    %li
      %a{"data-toggle" => "tab", :href => "#2015SS"} 2015SS
    %li
      %a{"data-toggle" => "tab", :href => "#2014AW"} 2014AW
    %li
      %a{"data-toggle" => "tab", :href => "#2014SS"} 2014SS
    %li
      %a{"data-toggle" => "tab", :href => "#2013AW"} 2013AW
  .tab-content
    #2015AW.tab-pane.active
      .tab-title
        %h3 2015AWコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway.jpg', alt: "runway image"
      .contents
        %a.button{:href => "#"} Acne Studio
        %a.button{:href => "#"} Balenciaga
        %a.button{:href => "#"} CARVEN
        %a.button{:href => "#"} CELINE
        %a.button{:href => "#"} Chloe
        %a.button{:href => "#"} ENFOLD
        %a.button{:href => "#"} GARSCON
        %a.button{:href => "#"} GIVENC
        %a.button{:href => "#"} G.V.G.V
        %a.button{:href => "#"} HYKE
    #2015SS.tab-pane
      .tab-title
        %h3 2015SSコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway2.jpg', alt: "runway image"
      %a.button{:href => "#"} Acne Studio
      %a.button{:href => "#"} Balenciaga
      %a.button{:href => "#"} CARVEN
      %a.button{:href => "#"} CELINE
      %a.button{:href => "#"} Chloe
      %a.button{:href => "#"} ENFOLD
      %a.button{:href => "#"} GARSCON
      %a.button{:href => "#"} GIVENC
      %a.button{:href => "#"} G.V.G.V
      %a.button{:href => "#"} HYKE
    #2014AW.tab-pane
      .tab-title
        %h3 2014AWコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway3.jpg', alt: "runway image"
      %a.button{:href => "#"} Acne Studio
      %a.button{:href => "#"} Balenciaga
      %a.button{:href => "#"} CARVEN
      %a.button{:href => "#"} CELINE
      %a.button{:href => "#"} Chloe
      %a.button{:href => "#"} ENFOLD
      %a.button{:href => "#"} GARSCON
      %a.button{:href => "#"} GIVENC
      %a.button{:href => "#"} G.V.G.V
      %a.button{:href => "#"} HYKE
    #2014SS.tab-pane
      .tab-title
        %h3 2014SSコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway4.jpg', alt: "runway image"
      %a.button{:href => "#"} Acne Studio
      %a.button{:href => "#"} Balenciaga
      %a.button{:href => "#"} CARVEN
      %a.button{:href => "#"} CELINE
      %a.button{:href => "#"} Chloe
      %a.button{:href => "#"} ENFOLD
      %a.button{:href => "#"} GARSCON
      %a.button{:href => "#"} GIVENC
      %a.button{:href => "#"} G.V.G.V
      %a.button{:href => "#"} HYKE
    #2013AW.tab-pane
      .tab-title
        %h3 2013AWコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway5.jpg', alt: "runway image"
      %a.button{:href => "#"} Acne Studio
      %a.button{:href => "#"} Balenciaga
      %a.button{:href => "#"} CARVEN
      %a.button{:href => "#"} CELINE
      %a.button{:href => "#"} Chloe
      %a.button{:href => "#"} ENFOLD
      %a.button{:href => "#"} GARSCON
      %a.button{:href => "#"} GIVENC
      %a.button{:href => "#"} G.V.G.V
      %a.button{:href => "#"} HYKE