/ パンくずリスト
.container2
  %ul.breadcrumb
    %li
      = link_to 'トップ', root_path
    %li.active ブランド一覧
/ タブバー
.container3
  %ul.nav.nav-tabs{:style => "margin-bottom:15px"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#2015AW"} 2015 AW
    %li
      %a{"data-toggle" => "tab", :href => "#2015SS"} 2015 SS
    %li
      %a{"data-toggle" => "tab", :href => "#2014AW"} 2014 AW
    %li
      %a{"data-toggle" => "tab", :href => "#2014SS"} 2014 SS
    %li
      %a{"data-toggle" => "tab", :href => "#2013AW"} 2013 AW
  .tab-content
    #2015AW.tab-pane.active
      .tab-title
        %h3 2015AWコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway.jpg', alt: "runway image"
        - @brands.each do |brand|
          = link_to brand.name, brand_path(brand), class: "button"
    #2015SS.tab-pane
      .tab-title
        %h3 2015SSコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway2.jpg', alt: "runway image"
    #2014AW.tab-pane
      .tab-title
        %h3 2014AWコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway3.jpg', alt: "runway image"
        = link_to 'Acne Studious', '#', class: "button"
        = link_to 'ANLEARAGE', '#', class: "button"
        = link_to 'CELINE', '#', class: "button"
        = link_to 'Chloe', '#', class: "button"
        = link_to 'COMME des GARÇONS', '#', class: "button"
        = link_to 'GIVENCHY', '#', class: "button"
        = link_to 'G.V.G.V', '#', class: "button"
        = link_to 'HYKE', '#', class: "button"
        = link_to 'ISSEY MIYAKE', '#', class: "button"
        = link_to 'Yohji Yamamoto', '#', class: "button"
    #2014SS.tab-pane
      .tab-title
        %h3 2014SSコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway4.jpg', alt: "runway image"
        = link_to 'Acne Studious', '#', class: "button"
        = link_to 'ANLEARAGE', '#', class: "button"
        = link_to 'CELINE', '#', class: "button"
        = link_to 'Chloe', '#', class: "button"
        = link_to 'COMME des GARÇONS', '#', class: "button"
        = link_to 'GIVENCHY', '#', class: "button"
        = link_to 'G.V.G.V', '#', class: "button"
        = link_to 'HYKE', '#', class: "button"
        = link_to 'ISSEY MIYAKE', '#', class: "button"
        = link_to 'Yohji Yamamoto', '#', class: "button"
    #2013AW.tab-pane
      .tab-title
        %h3 2013AWコレクションブランド一覧
        %img.brands-image
        = image_tag 'runway5.jpg', alt: "runway image"
        = link_to 'Acne Studious', '#', class: "button"
        = link_to 'ANLEARAGE', '#', class: "button"
        = link_to 'CELINE', '#', class: "button"
        = link_to 'Chloe', '#', class: "button"
        = link_to 'COMME des GARÇONS', '#', class: "button"
        = link_to 'GIVENCHY', '#', class: "button"
        = link_to 'G.V.G.V', '#', class: "button"
        = link_to 'HYKE', '#', class: "button"
        = link_to 'ISSEY MIYAKE', '#', class: "button"
        = link_to 'Yohji Yamamoto', '#', class: "button"
:javascript
  buildMap(#{raw @hash.to_json});
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44066469-2', 'auto');
  ga('send', 'pageview');